*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.toc
*.thm
*.brf
*.pdf
missfont.log
includes.log
/__pycache__
/Ejemplos
*.pdf
!Gramatica.txt

# Gestión de archivos .txt
lexed.txt
symbols.txt
parse.txt
PIdG18.txt
!programa_myjs.txt
