*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.toc
*.thm
*.brf
*.pdf
*.txt
missfont.log
includes.log
/__pycache__
/Ejemplos
*.pdf
!Gramatica.txt
!programa_myjs.txt
!Gramatica_Legible.txt
!Gramatica_LL1_Final.txt
